body{
  margin:0;
  /*text-align: center;*/
  position: relative;
  /*overflow: hidden;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tree{
  z-index: 50;
}
div.button{
  z-index: 10000;
}
