body{
  margin:0;
  /*text-align: center;*/
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          background: hsla(220,13%,18%, 1);
  /*background: white;*/
}
/*.canvas{
  min-height: 100vh;
  min-width: calc(9/16 *100vh);
}*/
#tree{
  overflow: hidden;
  z-index: 50;
}
div.button{
  z-index: 10000;
  display: hidden;
}
div.button > button{
  display: none;
}
.startAnimation {
  display: none;
  height: 100% !important;
}
#loader, .startAnimation {
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: hsla(220,13%,18%, 1);
}
#loader span, .startAnimation span {
    font-family: "Arial";
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#loader .wrap {
  position: absolute;
  width: 100px;
  height: 200px;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -100px;
}


#loader .drop {
  width: 40px;
  height: 40px;
  left: 50%;
  margin-left: -20px;
  position: absolute;
  animation: drop 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0s infinite;
}

.drop circle {
  fill: #2a96ed;
}
#loader .drop-outer {
  position: absolute;
  box-sizing: border-box;
  /* border: 1px solid #333; */
  width: 100px;
  height: 200px;
  overflow: hidden;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  background-clip: padding-box;
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

#loader .ripple {
  position: absolute;
  box-sizing: border-box;
  width: 240px;
  height: 240px;
  top: 68px;
  left: -70px;
  perspective: 100;
  transform: rotateX(65deg);
}

.ripple .ripple-svg {
  position: absolute;
  width: 240px;
  height: 240px;
  opacity: 0;
}

.ripple .ripple-svg circle {
   fill: none;
   stroke: #2a96ed;
   stroke-width: 10px;
   stroke-alignment: inner;
}

.ripple-1 {
  animation: ripple 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s infinite;
}

.ripple-1 .ripple-svg {
  animation: fade-in-out 2s linear 0s infinite;
}

.ripple-1 .ripple-svg circle {
  animation: border 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s infinite;
}

.ripple-2 {
  animation: ripple 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s infinite;
}

.ripple-2 .ripple-svg {
  animation: fade-in-out 2s linear 0.2s infinite;
}

.ripple-2 .ripple-svg circle {
  animation: border 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s infinite;
}

.ripple-3 {
  animation: ripple 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.35s infinite;
}

.ripple-3 .ripple-svg {
  animation: fade-in-out 2s linear 0.35s infinite;
}

.ripple-3 .ripple-svg circle {
  animation: border 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.35s infinite;
}

/* starting animation */

.startAnimation .ripple-start {
  position: absolute;
  box-sizing: border-box;
  width: 240px;
  height: 240px;
  top: 89%;
  left: -70px;
  perspective: 100;
  transform: rotateX(65deg);
}
.startAnimation .wrap {
  position: absolute;
  width: 100px;
  /*height: 100%;;*/
  left: 50%;
  margin-left: -50px;
  top: 0;
  bottom: 0;
  margin-top: -100px;
}
.startAnimation .drop {
  width: 40px;
  height: 40px;
  left: 50%;
  margin-left: -20px;
  position: absolute;
  top: -40px;
  animation: dropStart 2.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0s;
}
.startAnimation .drop-outer {
  position: absolute;
  box-sizing: border-box;
  /* border: 1px solid #333; */
  width: 100px;
  height: 100%;
  overflow: hidden;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  background-clip: padding-box;
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

.ripple-start .ripple-svg-start {
  position: absolute;
  width: 240px;
  height: 240px;
  opacity: 0;
}

.ripple-start .ripple-svg-start circle {
   fill: none;
   stroke: #2a96ed;
   stroke-width: 10px;
   stroke-alignment: inner;
}

.ripple-1-start {
  animation: ripple-start 6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s infinite;
}

.ripple-1-start .ripple-svg-start {
  animation: fade-in-out 6s linear 0s infinite;
}

.ripple-1-start .ripple-svg-start circle {
  animation: border 6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s infinite;
}

.ripple-2-start {
  animation: ripple-start 6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s infinite;
}

.ripple-2-start .ripple-svg-start {
  animation: fade-in-out 6s linear 0.2s infinite;
}

.ripple-2-start .ripple-svg-start circle {
  animation: border 6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s infinite;
}

.ripple-3-start {
  animation: ripple-start 6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.35s infinite;
}

.ripple-3-start .ripple-svg-start {
  animation: fade-in-out 6s linear 0.35s infinite;
}

.ripple-3-start .ripple-svg-start circle {
  animation: border 6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.35s infinite;
}



@keyframes drop {
  0% {
    transform: scale3d(0.01,0.01,0.01) translateY(0)
  }
  10% {
    transform: scale3d(1,1,1)
  }
  44% {
    transform: scale3d(1,1,1) translateY(200px)
  }
  100% {
    transform: scale3d(1,1,1) translateY(200px)
  }
}

@keyframes fade-in-out {
  0% {opacity: 0}
  42% {opacity: 0}
  52% {opacity: 1}
  65% {opacity: 1}
  100% {opacity: 0}
}

@keyframes ripple {
  0% { transform: rotateX(65deg) scale3d(0.2, 0.2, 0.2) }
  42% { transform: rotateX(65deg) scale3d(0.2, 0.2, 0.2) }
  100% { transform: rotateX(65deg) scale3d(0.9, 0.9, 0.9) }
}

@keyframes border {
  0% { stroke-width: 6px }
  42% { stroke-width: 6px }
  100% {stroke-width: 2px }
}


/* starting animation */
@keyframes ripple-start {
  0% { transform: rotateX(65deg) scale3d(0.2, 0.2, 0.2) }
  42% { transform: rotateX(65deg) scale3d(0.2, 0.2, 0.2) }
  100% { transform: rotateX(65deg) scale3d(0.9, 0.9, 0.9) }
}
@keyframes dropStart {
  0% {
    top: -40px;
  }
  100% {
    top: 97%;
  }
}
