@import url('https://fonts.googleapis.com/css?family=Frijole|Poiret+One|Reenie+Beanie|Roboto');

body {
  background-color:#333333;
  color: white;
  font-family: 'Roboto', sans-serif;

}

a {
  color:#607d8b;
}


header {
  /*font-family: 'Frijole', cursive;*/
}

header a {
  text-decoration: none;
  color:#607d8b;
}

header a:hover {
  color:#607d8b;
  text-decoration: none;
}


.totalreponse {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 57px;
  padding: 12px;
  font-size: 18px;
  background-color: black;
  z-index: 100;
}

.cptMood, .cptState {
  font-size: 18px;
}

#envoyer {
  background-color: red ;
  border-color: red ;
}

.button {
  margin: 12px;
}


.btn {
  padding: 14px;

}

hr {
  border-top: 1px solid #607d8b;
}
.states, .moods p {
  font-size: 12px;
  color: #f5f5f5;
}

.sep {
  margin-bottom: 20px;
}

/*emoji svg https://commons.wikimedia.org/wiki/Category:SVG_smilies*/

/** CHECKBOX */

.text {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  height: 70px;
}

.area {
  width: 100%;
  float: left;
  margin-top: 15px;
}


.arcade input {
  display: none;

}

.arcade {
  position: relative;
  /* margin-top: 10% !important; */
  display: inline-block;
  text-align: center;
  /* margin: 4%; */
  font: 1.5em/1em Arial, sans-serif;
  color: black;
  background: #fff;
  width: 100px !important;
  height: 100px;
  top: 50%;
  /* left: 50%; */
  /* margin: -50px 0 0 -50px; */
  -webkit-border-radius: 50%;
  border-radius: 50%;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0px 0 0;
  cursor: pointer;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;


  /*
  -webkit-box-shadow: inset 0 -5px 20px rgba(0,0,0,0.5), inset 0 15px 20px rgba(255,255,255,0.5), 0 5px 10px rgba(0,0,0,0.2), 0 10px 10px rgba(0,0,0,0.5);
  box-shadow: inset 0 -5px 20px rgba(0,0,0,0.5), inset 0 15px 20px rgba(255,255,255,0.5), 0 5px 10px rgba(0,0,0,0.7), 0 10px 10px rgba(0,0,0,0.5);
  */


  -webkit-box-shadow: inset 0 -5px 20px rgba(0,0,0,0.5), inset 0 15px 20px rgba(255,255,255,0.5), 0 5px 10px rgba(0,0,0,0), 0 10px 10px rgba(0,0,0,0);
  box-shadow: inset 0 -5px 20px rgba(0,0,0,0.5), inset 0 15px 20px rgba(255,255,255,0.5), 0 5px 10px rgba(0,0,0,0), 0 10px 10px rgba(0,0,0,0);



}
.arcade:before {
  content: " ";
      display: block;
      position: absolute;
      z-index: -5;
      width: 120px;
      height: 120px;
      /* top: 50%; */
      /* left: 50%; */
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background: #fff;
      top: -10px;
      left: -10px;
      -webkit-box-shadow: inset 0 7px 15px rgba(255,255,255,0.5), inset 0 -7px 15px rgba(0,0,0,0.5);
      box-shadow: inset 0 7px 15px rgba(255,255,255,0.5), inset 0 -7px 15px rgba(0,0,0,0.5);
}

.arcade:active {
  -webkit-box-shadow: inset 0 0 20px rgba(0,0,0,0.5);
  box-shadow: inset 0 0 20px rgba(0,0,0,0.5);
  color: #ffeded;
}




/* Cachons la case à cocher */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;


}

/* on prépare le label*/
[type="checkbox"]:checked + label{
  position: relative; /* permet de positionner les pseudo-éléments*/
  top: 0;
  left: 0;
  width: 100%;
    color:#03a9f4;
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer;    /* affiche un curseur adapté ss*/


}

/* Aspect si "pas cochée" */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0; /* coche invisible */
  transform: scale(0); /* mise à l'échelle à 0 */
}
/* Aspect si "cochée" */
[type="checkbox"]:checked + label:after {
  opacity: 1; /* coche opaque */
  transform: scale(1); /* mise à l'échelle 1:1 */
}

/* aspect désactivée */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
/* styles de la coche (si cochée/désactivée) */
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
/* on style aussi le label quand désactivé */
[type="checkbox"]:disabled + label {
  color: #aaa;
}

/* aspect au focus de l'élément */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}


footer {
  margin-top: 12px;
  font-size: 11px;
  color: #607d8b;
}


/*https://codepen.io/soulwire/pen/bKens*/


@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,latin-ext);
*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}


@media screen and (max-width: 1020px) {
  .states, .moods, .button {
    width: 100%;
    display: inline-block;
    border: solid;
  }

  .buttons {
    margin-top: 30px;
  }
}
@media screen and (max-width: 480px) {

  .container {
    overflow: hidden;
  }



  .area .input{
    width: 143px;
  }

  .area .input label{
    font-size: 12px;
  }
  .states, .moods, .button {
    width: 100%;
  }

}
