@import url('https://fonts.googleapis.com/css?family=Frijole|Poiret+One|Reenie+Beanie|Roboto');

html, body {
  background-color: hsla(220,13%,18%, 1);
  color: white;
  font-family: 'Roboto', sans-serif;
  margin:0px;
  padding:0px;
  width:100%;
}

a {
  color:#607d8b;
}

header a {
  text-decoration: none;
  color:#607d8b;
}

header a:hover {
  color:#607d8b;
  text-decoration: none;
}


.totalreponse {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 57px;
  padding: 12px;
  font-size: 18px;
  background-color: black;
  z-index: 100;
}

.cptFeeling, .cptAffinity {
  font-size: 18px;
}

#envoyer {
  background-color: red ;
  border-color: red ;
}

.button {
  margin: 12px;
}


.btn {
  padding: 14px;

}

hr {
  border-top: 1px solid #607d8b;
}

.affinities p, .feelings p {
  font-size: 1.5em;
  color: #f5f5f5;
}

.sep {
  margin-bottom: 20px;
}

/*emoji svg https://commons.wikimedia.org/wiki/Category:SVG_smilies*/

/** CHECKBOX */

.text {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  height: 70px;
}

.area {
  width: 100%;
  float: left;
  margin-top: 15px;
}

.area [type="checkbox"]:not(:checked),
.area [type="checkbox"]:checked {
  display: none;
}

.area [type="checkbox"] + label {
  position: relative;
  width: 90%;
  text-align: center;
  font-size: 1.2em;
  margin: 5%;
  margin-bottom: -moz-calc(5% + 50px);
  margin-bottom: -webkit-calc(5% + 50px);
  margin-bottom: -o-calc(5% + 50px);
  margin-bottom: calc(5% + 50px);
  padding-bottom: 90%;
  height: 0px;
  cursor: pointer;
}

.area [type="checkbox"] + label > span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.area [type="checkbox"] + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 30px;
  width: 100%;
  height: 100%;
  border: 1px solid #aaa;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.74);
  -webkit-box-shadow: inset 0 7px 15px rgba(255,255,255,0.5), inset 0 -7px 15px rgba(0,0,0,0.5);
  box-shadow: inset 0 7px 15px rgb(255, 255, 255), inset 0 -7px 15px rgba(0, 0, 0, 0.67);

}

.area [type="checkbox"] + label:after {
  content: '';
  position: absolute;
  top: 30px;
  left: 0;
  width: 80%;
  height: 80%;
  background-color: #09ad7e;
  border-radius: 50%;
  margin: 10%;

  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
  -webkit-box-shadow: inset 0 -5px 20px rgba(0,0,0,0.5), inset 0 15px 20px rgba(255,255,255,0.5), 0 5px 10px rgba(0,0,0,0), 0 10px 10px rgba(0,0,0,0);
  box-shadow: inset 0 -5px 20px rgba(0,0,0,0.5), inset 0 15px 20px rgba(255,255,255,0.5), 0 5px 10px rgba(0,0,0,0), 0 10px 10px rgba(0,0,0,0);
}

.area [type="checkbox"]:not(:checked) + label:after {
  opacity: 1;
  transform: scale(1);
  background-color: #fff;
}

.area [type="checkbox"]:checked + label:after {
  opacity: 1;
  background-color: white;
}

.area [type="checkbox"]:checked + label:before{
  background-color: white;
    -webkit-box-shadow: inset 0 7px 15px rgba(255,255,255,0.5), inset 0 -7px 15px rgba(0,0,0,0.5);
    box-shadow: 0 0px 30px rgb(222, 255, 252), 0px 0px 0px rgba(0, 0, 0, 0.67);
}

.area [type="checkbox"]:disabled + label:before {
  box-shadow: none;
  opacity: 0.3;
}

.area [type="checkbox"]:disabled:checked + label:after {
  color: #999;
    opacity: 0.3;
}

.area [type="checkbox"]:disabled + label {
  color: #aaa;
  opacity: 0.3;
}

.area [type="checkbox"]:focus + label:before {
  border: 1px dotted blue;
}


footer {
  margin-top: 12px;
  font-size: 11px;
  color: #607d8b;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,latin-ext);
*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@media screen and (max-width: 767px) {

  .container {
    overflow: hidden;
  }

  .affinities p, .feelings p {
    font-size: 1.2em;
  }


  .area [type="checkbox"] + label {
    font-size: 1em;
  }

}
